doctype html
head
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, user-scalable=no')
  title Les rapaces de GAP
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet' type='text/css' href='stylesheets/styles.css')
  link(rel='stylesheet', type='text/css', href='/stylesheets/loading-bar.css')
header
  nav.navbar.navbar-expand-lg.navbar-light
    .mx-auto.d-sm-flex.d-block.flex-sm-nowrap
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.navbar-nav.mr-auto.center-nav
          li.nav-item
            a.nav-link(href='#home')
              | Home
              span.sr-only (current)
          li.nav-item
            a.nav-link(href='#matchs') Matchs à l'affiche
          li.nav-item
            a.nav-link(href='#team') Joueurs
          li.nav-item
            a.nav-link(href='#story') Histoire
          li.nav-item
            a.nav-link(href='#contact') Contact
  section.home#home
    .container-fluid.homePage
      .logo
        img.img-fluid.mx-auto.d-block.logoUn(src=(equipes[(matchs[0].id_domicile) - 1].logo))
        img.img-fluid.mx-auto.d-block.versus(src='images/vs2.png', alt='versus')
        img.img-fluid.mx-auto.d-block.logoDeux(src=(equipes[(matchs[0].id_exterieur) - 1].logo))
      #demo(data-current-date=matchs[0].heure)
      video.homeVid(autoplay='', muted='', loop='')
        source(src='images/home.mp4', title='introVIdeo')
  section.titreMatchs#matchs
    h2 Matchs à l'affiche

  section.comingMatchs
      -for(let i = 0; i < matchs.length; i++)
        .container-fluid
          .row.matchs
              img.img-fluid.mx-auto.d-block.equipeUne(src=(equipes[(matchs[i].id_domicile) -1 ].logo))
              p #{matchs[i].heure.toISOString().slice(0,10)}
                img.img-fluid.mx-auto.d-block.vs(src='images/vs2.png') 
              img.img-fluid.mx-auto.d-block.equipeDeux(src=(equipes[(matchs[i].id_exterieur)- 1].logo))

section.team-gallery#team
    h2 Galerie des joueurs
    ul#teamGallery.nav.nav-tabs(role='tablist')
      li.nav-item
        a#players-tab.nav-link(data-length = joueurs.length , data-toggle='tab', href='#players', role='tab', aria-controls='players', aria-selected='true') Les Joueurs
      li.nav-item
        a#staff-tab.nav-link(data-toggle='tab', href='#staff', role='tab', aria-controls='staff', aria-selected='false') Le Staff
    #teamGalleryContent.tab-content
      #players.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='players-tab')
        
        .container.d-none.d-lg-block
          
          .row            
            - for (let x = 0; x < joueurs.length; x++)
              -let modalTag = 'player' + x +'-modal';                
              .col-xs-1.col-md-6.col-lg-3
                .photo-container
                    .photo-background
                    a(data-toggle='modal', data-target='#player' + x +'-modal')
                      img(src= joueurs[x].photo, alt='Photo de #{joueurs[x].prenom} #{joueurs[x].nom}')
                    .photo-caption
                      .flag
                        img(src= joueurs[x].flag, alt='Drapeau')
                      .caption
                        figcaption #{joueurs[x].prenom} #{joueurs[x].nom} 
                      .jersey
                        p #1          
              


        .container.d-md-block.d-lg-none
          #header-carousel.carousel.slide(data-ride="carousel",data-interval="4000")
            .carousel-inner
              -var x = 0
              -let modalTag = 'player' + x +'-modal'; 
              for joueur in joueurs
                  if x == 0
                    .carousel-item.active
                      .photo-container
                        .photo-background
                        a(data-toggle='modal', data-target='#player' + x +'-modal')
                          img(src= joueurs[x].photo, alt='Photo de #{joueurs[x].prenom} #{joueurs[x].nom}')
                        .photo-caption
                          .flag
                            img(src= joueurs[x].flag, alt='Drapeau')
                          .caption
                            figcaption #{joueurs[x].prenom} #{joueurs[x].nom} 
                          .jersey
                            p #1    
                    -x++
                  else
                    .carousel-item
                      .photo-container
                        .photo-background
                        a(data-toggle='modal', data-target='#player' + x +'-modal')
                          img(src= joueurs[x].photo, alt='Photo de #{joueurs[x].prenom} #{joueurs[x].nom}')
                        .photo-caption
                          .flag
                            img(src= joueurs[x].flag, alt='Drapeau')
                          .caption
                            figcaption #{joueurs[x].prenom} #{joueurs[x].nom} 
                          .jersey
                            p #1
                    -x++

            a.left.carousel-control-prev(href="#header-carousel", role="button", data-slide="prev")
                  span.carousel-control-prev-icon
            a.right.carousel-control-next(href="#header-carousel", role="button", data-slide="next")
                  span.carousel-control-next-icon

      include ./modal.pug
      



      #staff.tab-pane.fade(role='tabpanel', aria-labelledby='staff-tab')
        .container.d-none.d-lg-block
          .row 
            - for (let y = 0; y < staffs.length; y++)
              -let modalTagSt = 'staff' + y +'-modal';   
              .col-xs-1.col-md-6.col-lg-3
                .photo-container
                  .photo-background
                  a(data-toggle='modal', data-target='#staff' + y +'-modal')
                    img(src= staffs[y].photo, alt='')
                  .photo-caption
                    .flag
                      img(src= staffs[y].nationnalité, alt='')
                    .caption
                      figcaption #{staffs[y].nom}
                    .jersey
        .container.d-md-block.d-lg-none
          #staff-carousel.carousel.slide(data-ride="carousel",data-interval="4000")
            .carousel-inner
              -var y = 0
              -let modalTagSt = 'staff' + y +'-modal'; 
              for staff in staffs
                  if y == 0
                    .carousel-item.active
                      .photo-container
                        .photo-background
                        a(data-toggle='modal', data-target='#staff' + y +'-modal')
                          img(src= staffs[y].photo, alt='')
                        .photo-caption
                          .flag
                            img(src= staffs[y].nationnalité, alt='')
                          .caption
                            figcaption #{staffs[y].nom}
                          .jersey
                    -y++
                  else
                    .carousel-item
                      .photo-container
                        .photo-background
                        a(data-toggle='modal', data-target='#staff' + y +'-modal')
                          img(src= staffs[y].photo, alt='')
                        .photo-caption
                          .flag
                            img(src= staffs[y].nationnalité, alt='')
                          .caption
                            figcaption #{staffs[y].nom}
                          .jersey
                    -y++

            a.left.carousel-control-prev(href="#staff-carousel", role="button", data-slide="prev")
                  span.carousel-control-prev-icon
            a.right.carousel-control-next(href="#staff-carousel", role="button", data-slide="next")
                  span.carousel-control-next-icon

      include ./staff-modal.pug                    
    h2 Success story     
section.story#story

  .row
    .col-sm-8.offset-sm-2
      p.texte-histoire
        | Le club est cr&eacute;&eacute; en 1971 et s&apos;engage en championnat de France en 1952, o&ugrave; il &eacute;volue en deuxi&egrave;me s&eacute;rie. En 1955, c&apos;est l&apos;inauguration de la patinoire Roger Brown, qui devient artificielle en 1961. Les Gapen&ccedil;ais d&eacute;butent en 1re s&eacute;rie (division &eacute;lite)
        | pour la saison 1962-1933. &Agrave; partir de 1962, le canadien Camil G&eacute;linas, entraineur de l&apos;ACBB &agrave; son heure de gloire, devient entraineur de toutes les cat&eacute;gories de Gap, &agrave; la demande du Pr&eacute;sident de la FFSG, Jean Ferrand2. Cela porte se fruits avec
        | un premier titre de champion de France, en cat&eacute;gorie junior en 1965.
      button#button-lire-suite(onclick='changeText()' data-toggle='collapse' data-target='#la-suite') Lire la suite ...
      p#la-suite.collapse.texte-histoire
        | En 1972, d&apos;autres travaux sur la patinoire (couverture de la piste) permettent l&apos;utilisation permanente de la glace2, et d&apos;accueillir les championnats du monde groupe C4. Pendant
        | ce temps, l&apos;&eacute;quipe s&eacute;nior progresse encore, notamment gr&acirc;ce &agrave; l&apos;arriv&eacute;e du tch&egrave;que Zden&ecaron;k Bl&aacute;ha comme entraineur et remporte son premier titre de champion de France en 19775. Gap r&eacute;alise le doubl&eacute; l&apos;ann&eacute;e suivante6. Le club continue par la suite
        | &agrave; &ecirc;tre un grand club formateur7, en remportant jusque dans les ann&eacute;es 1980 pas moins de 21 titres de champion de France dans les cat&eacute;gories mineur et &eacute;tant vice-champion de France en 1983-19848. En 1989, le club finit &agrave; l&apos;avant-dernier place de
        | la Nationale 1A et peut se maintenir. Mais pr&eacute;f&egrave;re descendre pour mettre fin &agrave; l&apos;aventure professionnelle, qui co&ucirc;te cher9. Pour la saison 1992-1993, Gap remonte une premi&egrave;re fois en &eacute;lite, &agrave; la suite d&apos;un remaniement des divisions et de l&apos;abandon
        | de la ligue nationale &agrave; 10 clubs10. En 1996, le club remporte la Division 1 et remonte &agrave; nouveau11. Nouvelle descente imm&eacute;diate, quand Gap &eacute;choue &agrave; se maintenir en poule de maintien12. Le club descend lentemet dans la hi&eacute;rarchie fran&ccedil;aise, devant
        | m&ecirc;me disputer un barrage pour se maintenir en Division 1 lors de la saison 2001-200213. Mais le club rebondit la saison suivante, gr&acirc;ce &agrave; l&apos;&eacute;largissement de l&apos;&eacute;lite vers un Super 16. T&acirc;che difficile, puisqu&apos;avec le plus faible budget14, Gap est
        | souvent dans le bas de tableau. Il finit m&ecirc;me par re-descendre au second &eacute;chelon15 en 2006. En 2009, gr&acirc;ce &agrave; un nouveau titre de champion de Division 1, le club revient dans la ligue &eacute;lite, la Ligue Magnus16. Aujourd&rsquo;hui, le club poss&egrave;de un des
        | plus beaux palmar&egrave;s du hockey fran&ccedil;ais avec 29 titres nationaux, 37 podiums, 2 participations &agrave; la coupe d&rsquo;Europe, 1 coupe des As et 22 joueurs s&eacute;lectionn&eacute;es en &eacute;quipe nationale dont huit pour les Jeux olympiques2. Entre le d&eacute;but de la saison
        | 2009-2010 et la fin de la saison 2012-2013, les matchs de Gap &agrave; domicile &eacute;taient diffus&eacute;s en direct vid&eacute;o sur le site des rapaces gr&acirc;ce &agrave; l&apos;&eacute;quipe du Rapace Live. Longtemps annonc&eacute; le projet de r&eacute;novation de la patinoire a enfin abouti. Les travaux
        | s&apos;&eacute;chelonnent jusqu&apos;en ao&ucirc;t 2012. La patinoire est compl&egrave;tement refaite et sa capacit&eacute; est port&eacute;e &agrave; 2000 places. Lors de la saison 2011-2012, les rapaces jouent leurs matchs &laquo; &agrave; domicile &raquo; au Palais omnisports Marseille Grand Est. Le 23 octobre
        | 2012, Georges Obninsky, pr&eacute;sident du club annonce sa d&eacute;mission 17 lors d&apos;une conf&eacute;rence de presse 18. Il est remplac&eacute; par Philippe Vial et J&eacute;r&ocirc;me Escallier. &Agrave; l&apos;issue de la saison 2016-2017, les Rapaces de Gap remportent la Ligue Magnus, devenant
        | ainsi Champions de France pour la quatri&egrave;me fois de leur histoire.

h2.brand#form Formulaire de contact
section.contact-f#contact
  .container

    .wrapper
      .company-info
        h3 Contacts
        ul
          li
            i.fa.fa-road
            |  95 Cours Mar&eacute;chal Juin, Bordeaux
          li
            i.fa.fa-phone
            |  05 57 81 43 81
          li
            i.fa.fa-envelope
            |  contact@Mr-Bison.com

      .contact
        h3 Envoyez nous vos idées et vos propositions!
        form(action='/form', method='POST' data-toggle='validator' onsubmit='submitForm()')
          p
            label Nom
            input(type='text', name='lastname', placeholder='Vandamme', required='')
          p
            label Prénom
            input(type='text', name='firstname', placeholder='Jean Claude', required='')
          p
            label Adress mail
            input(type='email', name='mail', placeholder='example@hotmail.fr', required='')
          p
            label Portable
            input(type='tel', name='phone', placeholder='0640506020')
          p.full
            label Message
            textarea(name='message', rows='5', placeholder='Votre message ici!', required='')
          p.full
            input#sendButton(type='submit', value='Envoyer')

section.banner-sponsors
  .container
    .row.cont
      .col-xs-12.col-md-4
        a(href='http://www.regionpaca.fr/', target='blank')
          img.logo-social(src='images/logo-région-paca.png', alt='logo-PACA')
          img.logo-sponsors
      .col-xs-12.col-md-4
        a(href='http://www.ville-gap.fr/', target='blank')
          img.logo-bordeaux(src='images/Gap.png', alt='logo-GAP')
          img.logo-sponsors
      .col-xs-12.col-md-4
        a(href='https://www.decathlon.fr/', target='blank')
          img.logo-decathlon(src='images/decathlon.png', alt='logo-decathlon')
          img.logo-sponsors

img.footer-logo(src='images/footer.png', alt='footer-logo')
footer.container-fluid
  .text-center.center-block
    a(href='https://www.facebook.com/')
      i#social-fb.fa.fa-facebook-square.fa-3x.social
    a(href='https://www.youtube.com/')
      i#social-yb.fa.fa-youtube-square.fa-3x.social
    a(href='https://twitter.com/')
      i#social-tw.fa.fa-twitter-square.fa-3x.social
    a(href='https://plus.google.com/')
      i#social-gp.fa.fa-google-plus-square.fa-3x.social
    br
    a.adminLogin(href='/login') Login Admin
    br 
    a.mentions(href='http://www.rhe76.com/Mentions_Legales') Mentions légales   
    br
    a.CGU(href='https://odyssey.wildcodeschool.fr/mentions-legales') CGU 
    .footer-made
      | Made by The Gitsy Kings with 
      span.heart ❤
      |  and music




script(type='text/javascript' src='javascripts/timer.js')
script(type='text/javascript' src='javascripts/login.js')
script(type='text/javascript' src='javascripts/script.js')
script(type='text/javascript', src='javascripts/loading-bar.js')
script(type='text/javascript', src='javascripts/progress-bar.js')

script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
